doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Gloria+Hallelujah")
        // Gotta load JQuery fpor Foundation to work!
        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js")
        // Compressed CSS
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous")
        // Compressed JavaScript
        script(src="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/js/foundation.min.js" crossorigin="anonymous")
        link(rel="stylesheet" type="text/css" href="style.css")
        title API Testing
    body
        div(class="content")
            div(class="card")
                div(class="card-section")
                    button(type="button" onclick="showHideNutrients()") Show Hide Nutrition Data
                    #output
                    #introDiv
                    #ingredientsDiv 
                    #nutritionDiv 
                    #stepsDiv
        script(src="main.js")
    