doctype html
html(lang="en" data-theme="light")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        // Gotta load JQuery fpor Foundation to work!
        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js")
        // Compressed CSS
        //- link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous")
        //- PICO CDN css framework
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css")
        // Compressed JavaScript
        //- script(src="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/js/foundation.min.js" crossorigin="anonymous")
        link(rel="stylesheet" type="text/css" href="style.css")
        title API Testing
    body
        div(class="content")
            div(class="card")
                div(class="card-section")
                    #output
                    #introDiv
                    #ingredientsDiv
                    #stepsDiv
                    button(onclick="showHideNutrients()") Show Hide Nutrition Data
                    //- Following will eventually replace button
                    //- fieldset
                    //-     label Show Nutrients
                    //-         input(
                    //-         name='terms'
                    //-         type='checkbox'
                    //-         role='switch') 
                    #nutritionDiv 
        script(src="main.js")
    