// Variables
$primary-color: #000

*
  box-sizing: border-box

body
  color: #000


  .content
    border-radius: 5px

button
  margin-left: 20px
  margin-bottom: 20px





#displayData
  p
    margin-left: 20px
    color: $primary-color

#id
  font-weight: bold

#displayIngredients
  p
    margin-left: 40px

.wrapper
  max-width: 80rem
  margin: 0 auto
